<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-10">
        <div class="card rounded-3 text-black">
            <div class="row g-0">
                <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">

                        <div class="text-center">
                            <img src="public/timbang.png" class="mt-1 mb-5 pb-1" style="width: 320px;" alt="logo">
                            <!-- <h1>Logo</h1> -->
                            <h4 class="mt-1 mb-5 pb-1">Welcome To Digital Weight</h4>
                        </div>

                        <form action="/auth" method="post">
                            <p>Please login to your account</p>

                            <div class="form-outline mb-4">
                                <input type="text" name="username" placeholder="Username" id="username"
                                    class="form-control" required>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" name="password" placeholder="Password" id="password"
                                    class="form-control" required>
                            </div>

                            <div class="text-center pt-1 mb-5 pb-1">
                                <input class="btn btn-primary btn-block fa-lg gradient-custom-1 mb-3" type="submit"
                                    value="LOG IN">
                                <a class="text-muted" href="#!">Forgot password?</a>
                            </div>


                        </form>

                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2 gradient-custom-2-opacity-50">
                    <div class="px-3 py-4 p-md-5g mx-md-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>