
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS dependencies -->
    <link rel="stylesheet" type="text/css" href="https://pixfort.com/items/1/css/bootstrap.css" />
    <script src="https://kit.fontawesome.com/66a187acf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://pixfort.com/items/1/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="https://pixfort.com/items/1/css/pix_style.css" />
    <link rel="stylesheet" type="text/css" href="https://pixfort.com/items/1/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="https://pixfort.com/items/1/css/font-style.css" />
    <link rel="icon" type="image" href="http://203.194.112.19/img/icon.png"/>
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="https://pixfort.com/items/1/css/ie-fix.css" />
    <![endif]-->

    <link href="https://pixfort.com/items/1/css/animations.min.css" rel="stylesheet" type="text/css" media="all" />
    <title>Timbangan | App</title>
</head>
<body>
<div class="pix_section pix-padding-v-85 pix-app-1">
  <div class="container">
   <div class="row">
    <div class="col-md-6 col-xs-12">
     <div class="pix-content pix-padding-top-150">
      <div class="pix-margin-bottom-10">
       <!-- <img width="" src="" alt=""> -->
      </div>
      <h2 class="pix-white pix-no-margin-top secondary-font pix-small-width-text">
       <span class="pix_edit_text">
         <img width="100%" src="http://203.194.112.19/img/logo.png" alt="">

         
        </span>
      </h2>
      <div>
       <p class="pix-black-neon-2 pix-margin-bottom-30 pix-padding-top-10 ">
        <h5 class="pix_edit_text"><strong>Timbangan IoT App, solusi buat nimbang mudah dan aman.
        </strong></h5>
       </p>
      </div>
      <a href="http://203.194.112.19/img/timbanganiot.apk" class="btn yellow-bg btn-xl pix-white btn-flat">
       <span class="pix_edit_text">
        <strong>Download Link</strong>
       </span>
      </a>
      <br><br>
     </div>
    </div>
    <div class="col-md-6 col-xs-12">
     <div class="pix-content text-center">
      <div class="pix-content"><img src="images/app/phones-intro-app.png" alt="" class="img-responsive pix-inline-block"></div>
     </div>
    </div>
   </div>
  </div>
 </div>


 <div class="pix_section pix-padding-v-20 gray-bg">
  <div class="container">
   <div class="row">
    <div class="col-md-12 col-xs-12">
     <div class="pix-content pix-padding-v-30">
      <h2 class="pix-black-gray-dark text-center pix-no-margin-top secondary-font">
       <span class="pix_edit_text"><strong>Siapa Pakai Timbangan IoT ?</strong></span>
      </h2>
      <h5 class="pix-black-gray-light text-center">
       <span class="pix_edit_text"> .</span>
      </h5>
     </div>
    </div>
    <div class="col-md-4 col-xs-12">
     <div class="pix-content pix-padding-h-10 pix-padding-v-20 text-center pix-margin-v-10">
      <div class="pix-margin-bottom-20">
       <img width="50%" src="http://203.194.112.19/img/user.png" alt="">
      </div>
      <h4 class="pix-black-gray-dark">
       <span class="pix_edit_text"><strong>Pegawai</strong></span>
      </h4>
      <p class="pix-black-gray-light big-text pix-margin-bottom-20">
       <span class="pix_edit_text">
        Melihat hasil timbangan untuk dikirimkan ke kantor via email secara otomatis.
       </span>
      </p>
      <a href="#" class="btn btn-md yellow-bg pix-white btn-flat wide">
        <span class="pix_edit_text">
         <strong>Detail</strong>
        </span>
       </a>
     </div>
    </div>
    <div class="col-md-4 col-xs-12">
     <div class="pix-content pix-padding-h-10 pix-padding-v-20 text-center pix-margin-v-10">
      <div class="pix-margin-bottom-20">
       <img width="50%" src="http://203.194.112.19/img/user.png" alt="">
      </div>
      <h4 class="pix-black-gray-dark">
       <span class="pix_edit_text"><strong>Driver</strong></span>
      </h4>
      <p class="pix-black-gray-light big-text pix-margin-bottom-20">
       <span class="pix_edit_text">Menimbangan dengan cara mandiri, mengisi data plat nomor kendaraan via aplikasi secara langsung.</span>
      </p>
      <a href="#" class="btn btn-md yellow-bg pix-white btn-flat wide">
       <span class="pix_edit_text">
        <strong>Detail</strong>
       </span>
      </a>
     </div>
    </div>
    <div class="col-md-4 col-xs-12">
     <div class="pix-content pix-padding-h-10 pix-padding-v-20 text-center pix-margin-v-10">
      <div class="pix-margin-bottom-20">
       <img width="50%" src="http://203.194.112.19/img/user.png" alt="">
      </div>
      <h4 class="pix-black-gray-dark">
       <span class="pix_edit_text"><strong>Admin</strong></span>
      </h4>
      <p class="pix-black-gray-light big-text pix-margin-bottom-20">
       <span class="pix_edit_text">Menjadikan admin lebih efesien dan produktif bisa melihat data secara akurat dan tepat.</span>
      </p>
      <a href="#" class="btn btn-md yellow-bg pix-white btn-flat wide">
       <span class="pix_edit_text">
        <strong>Detail</strong>
       </span>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>

 <div class="pix_section pix-padding-v-30">
  <div class="container">
   <div class="row">
    <div class="col-md-6 col-xs-12 text-center">
     <img src="images/full_gambar.png" alt="" class="img-responsive">
    </div>
    <div class="col-md-6 col-xs-12">
     <div class="pix-content pix-padding-top-80">
      <div class="pix-margin-bottom-20">
      </div>
      <h2 class="pix-black-gray-dark pix-no-margin-top secondary-font">
       <span class="pix_edit_text"><strong>Kenapa Timbangan IoT !</strong></span>
      </h2>
      <p class="pix-black-gray-light big-text pix-margin-bottom-20">
       <span class="pix_edit_text">
        Timbangan IoT menjadikan solusi bagi para penimpang menjadi lebih produktif dan efesien.
       </span>
      </p>
      <a href="http://203.194.112.19/img/timbanganiot.apk" class="btn yellow-bg btn-lg wide pix-white btn-flat">
       <span class="pix_edit_text">
        <strong>Download App</strong>
       </span>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>

 <div class="pix_section pix-padding-v-30">
  <div class="container">
   <div class="row">
    <div class="col-md-6 col-xs-12">
     <div class="pix-content pix-padding-top-5">
      <div class="pix-margin-bottom-20">
       <img src="" alt="">
      </div>
      <h2 class="pix-black-gray-dark pix-no-margin-top secondary-font">
       <span class="pix_edit_text"><strong>Apa itu Timbangan IoT ?</strong></span>
      </h2>
      <p class="pix-black-gray-light big-text pix-margin-bottom-20">
       <span class="pix_edit_text">
        Merupakan timbangan yang terintegrasi dengan teknologi canggih berbasiskan Indutri 4.0.
       </span>
      </p>
      <a href="#" class="btn yellow-bg btn-lg wide pix-white btn-flat">
       <span class="pix_edit_text">
        <strong>Detail</strong>
       </span>
      </a>
     </div>
    </div><br><br>
    <div class="col-md-6 col-xs-12 text-center">
     <img width="100%" src="images/awal_full.png" alt="" class="img-responsive">
    </div>
   </div>
  </div>
 </div>

 <div class="pix_section pix-padding-v-40 gray-bg">
  <div class="container">
   <div class="row">
    <div class="col-md-12 col-xs-12">
     <div class="pix-content pix-padding-bottom-30">
      <h2 class="pix-black-gray-dark text-center pix-no-margin-top secondary-font">
       <span class="pix_edit_text"><strong>Gambaran Aplikasi</strong></span>
      </h2>
      <h5 class="pix-black-gray-light text-center">
       <span class="pix_edit_text">Tampilan Mobile App Timbangan IoT.</span>
      </h5>
     </div>
    </div>
    <div class="col-md-4 col-xs-12">
     <div class="pix-margin-v-30 text-center">
      <img src="http://203.194.112.19/img/gambar0.png" alt="" class="img-responsive">
     </div>
    </div>
    <div class="col-md-4 col-xs-12">
     <div class="pix-margin-v-30 text-center">
      <img src="http://203.194.112.19/img/gambar1.png" alt="" class="img-responsive">
     </div>
    </div>
    <div class="col-md-4 col-xs-12">
     <div class="pix-margin-v-30 text-center">
      <img src="http://203.194.112.19/img/gambar2.png" alt="" class="img-responsive">
     </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="pix-margin-v-30 text-center">
       <img src="http://203.194.112.19/img/gambar3.png" alt="" class="img-responsive">
      </div>
     </div>
     <div class="col-md-6 col-xs-12">
      <div class="pix-margin-v-30 text-center">
       <img src="http://203.194.112.19/img/gambar4.png" alt="" class="img-responsive">
      </div>
     </div>
   </div>
  </div>
 </div>

 <div class="pix_section pix-padding-v-20 gray-2-bg">
  <div class="container">
   <div class="row">
    <div class="col-md-12 col-xs-12">
     <div class="pix-content pix-padding-bottom-30">
      <h1 class="pix-yellow text-center pix-no-margin-bottom secondary-font">
       <span class="pix_edit_text"><strong>+10</strong></span>
      </h1>
      <h2 class="pix-black-gray-dark text-center pix-no-margin-top secondary-font">
       <span class="pix_edit_text"><strong>Downloads Timbangan IoT</strong></span>
      </h2>
      <h5 class="pix-black-gray-light text-center">
       <span class="pix_edit_text">Solusi untuk para penimbang !</span>
      </h5>
     </div>
    </div>
   </div>
  </div>
</div>


<video width="100%" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>

 <div class="pix_section pix-padding-v-40">
  <div class="container">
   <div class="row">
    <div class="col-md-12 col-xs-12">
     <div class="pix-content pix-padding-bottom-30">
      <h2 class="pix-black-gray-dark text-center pix-no-margin-top secondary-font">
       <span class="pix_edit_text"><strong>Testimoni</strong></span>
      </h2>
      <h5 class="pix-black-gray-light text-center">
       <span class="pix_edit_text">Dengan menggunakan aplikasi timbangan ini menjadikan kerja saya lebih cepat dan meminimalisir terjadinya kecurangan bagi para penimbang.</span>
      </h5>
     </div>
    </div>
    <div class="col-md-1 col-xs-12">
    </div>
    <div class="col-md-10 col-xs-12">
     <div class="pix-content pix-padding-bottom-30 pix-margin-v-30">
      <div class="media">
       <div class="media-right media-top text-center media-box-area">
        <div class="pix-inner">
         <div class="pix-round-shape-120 pix-margin-h-10">
          <img src="images/.png" alt="">
         </div>
        </div>
       </div>
       <div class="media-body media-top media-box-area">
        <div class="pix-inner">
         <p class="pix-black-gray-light big-text-20 pix-margin-bottom-20">
          <span class="pix_edit_text">"Melalui media video record. "</span>
         </p>
         <h5 class="pix-black-gray pix-no-margin-top pix-no-margin-bottom">
          <span class="pix_edit_text"><strong>@</strong></span>
         </h5>
         <h6 class="pix-black-gray-light pix-no-margin-top">
          <span class="pix_edit_text">via instagram.com</span>
         </h6>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>


 <div class="pix_section pix-padding-v-20 gray-bg">
  <div class="container">
   <div class="row">
    <div class="col-md-12 col-xs-12">
     <div class="pix-content pix-padding-bottom-30">
      <h2 class="pix-black-gray-dark text-center pix-no-margin-top secondary-font">
       <span class="pix_edit_text"><strong>Dukung aplikasi kami agar lebih berkembang !</strong></span>
      </h2>
      <h5 class="pix-black-gray-light text-center pix-padding-bottom-20">
       <span class="pix_edit_text">By, Timbangan IoT App</span>
      </h5>
      <div class="text-center">
       <div class="pix-inline-block pix-fixed-width-480">
        <form class="pix-form-style pixfort-form pix-padding-top-10 pix-form-white-bg">
         <div class="form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email Address">
         </div>
         <button type="submit" class="btn yellow-bg btn-flat btn-lg pix-white btn-block small-text"><span class="pix_edit_text"><strong>Subscribe For Updates</strong></span></button>
        </form>
        <p class="pix-black-gray-light">
         <span class="pix_edit_text">*Mohon maaf jangan spam untuk pesan email ini!</span>
        </p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>

 <div class="pix_section pix-padding-v-65 pix-padding-bottom-30">
  <div class="container">
   <div class="row">
    <div class="col-md-12 col-xs-12">
     <div class="pix-content text-center">
      <a class="pix-inline-block" href="#"><img src="images/app/logo-dark.png" alt="" class="img-responsive"></a>
      <div class="clearfix"></div>
      <h2 class="pix-black-gray-dark text-center pix-no-margin-top secondary-font">
       <span class="pix_edit_text"><strong>Download Timbangan IoT App!</strong></span>
      </h2>
      <div class="pix-padding-v-10">
       <p class="pix-black-gray-light big-text-20">
        <span class="pix_edit_text">
         Kami selalu memberikan yang terbaik bagi para penimpang.
        </span>
       </p>
      </div>
      <div class="pix-padding-bottom-20">
        <a href="http://203.194.112.19/img/timbanganiot.apk" class="btn yellow-bg btn-lg wide pix-white btn-flat">
          <span class="pix_edit_text">
           <strong>Download App</strong>
          </span>
         </a>
      </div>
     </div>
    </div>
    <div class="col-md-12 col-sm-12"></div>
    <div class="col-md-7 col-sm-7">
     <div class="pix-content pix-padding-v-30">
       <span class="pix-black-gray-light"><span class="pix_edit_text"><strong>Timbangan IoT</strong> Copyright © 2022 All Rights Reserved</span></span>
     </div>
    </div>
    <div class="col-md-5 col-sm-5">
     <div class="pix-content pix-padding-v-20 text-right">
      <a href="#" class="small-social">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <a href="#" class="small-social">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="#" class="small-social">
        <i class="fa-brands fa-facebook"></i>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
<!-- Javascript -->
<script src="https://pixfort.com/items/1/js/jquery-1.11.2.js"></script>
<script src="https://pixfort.com/items/1/js/jquery-ui.js"></script>

<script src="https://pixfort.com/items/1/js/bootstrap.js"></script>
<script src="https://pixfort.com/items/1/js/velocity.min.js"></script>
<script src="https://pixfort.com/items/1/js/velocity.ui.min.js"></script>
<script src="https://pixfort.com/items/1/js/appear.min.js" type="text/javascript"></script>
<script src="https://pixfort.com/items/1/js/animations.min.js" type="text/javascript"></script>
<!--<script src="--><!--items/1/js/scroll.js" type="text/javascript"></script>-->
<script src="https://pixfort.com/items/1/js/plugins.js?v=1.0.1"></script>
<script src="https://pixfort.com/items/1/js/jquery.fancybox.min.js"></script>
<script src="https://pixfort.com/items/1/js_demo/custom-demo.js?v=1.0.2"></script>

</body>
</html>
