<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>Login</title>
</head>

<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-10 h-100">
            <%- include('../partials/login');%>
        </div>
        <%- include('../partials/script'); %>
    </section>
    
</body>

</html>